{% extends 'base.html.twig' %}

{% block title %}ePayco - Panel de Administración{% endblock %}

{% block headstyles%}
    <style>
        body{
            font: "poppins";
        }
    </style>
{% endblock %}

{% block body %}
<div class="auth-background">
    <img class="img-davivienda" src="{{asset('img/davivienda.png')}}" alt="">
    <img class="img-ePayco" src="{{asset('img/epayco-white.png')}}" alt="">

    <div class="auth-container">
        <form method="post">
            {% if error %}
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
        
            <h1 class="auth-title">Inicie sesión en el panel de administración</h1>
            <div class="auth-input" style="margin-top: 4vw;">
                <label for="inputEmail">Correo</label>
                <input 
                    class="input-auth" 
                    placeholder="Ingrese su correo" 
                    type="email" 
                    value="{{ last_username }}" 
                    name="email" 
                    id="inputEmail" 
                    class="form-control" 
                    autocomplete="email" 
                    required autofocus>
            </div>
            <div class="auth-input">
                <label for="inputPassword">Contraseña</label>
                <input class="input-auth" placeholder="Ingrese su contraseña"  type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>
        
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <div class="button-section">
                <button class="btn-auth" type="submit">
                    Iniciar sesión
                </button>
                <a class="reset-password" href="/password/reset">¿Olvidó su contraseña?</a>
            </div>
        </form>
    </div>
    <div class="right-side">
        Con <b>Mi Negocio</b> puede administrar sus cobros y transacciones de forma rápida y segura
    </div>
    <span class="copyright">Banco Davivienda S.A. todos los derechos reservados 2020.</span>
</div>
{% endblock %}
